/* Общие стили */
html {
  font-size: 14px; /* Шрифт по умолчанию */
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px; /* Увеличение шрифта на больших экранах */
  }
}

/* Стили кнопок и элементов формы при фокусе */
.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* Стили фона для всего тела страницы */
body {
  background-image: url('../images/space.jpg');
  background-size: cover; /* Изображение покрывает весь экран */
  background-repeat: no-repeat; /* Изображение не повторяется */
  background-attachment: fixed; /* Фон фиксирован при прокрутке */
  margin-bottom: 60px; /* Отступ внизу страницы для подвала */
}

/* Дополнительные стили для контейнера */
.container {
  padding: 20px; /* Отступы внутри контейнера */
  margin-top: 50px; /* Отступ сверху */
  max-width: 800px; /* Максимальная ширина контейнера */
}

/* Стили для приветственного сообщения */
h1 {
  margin-bottom: 20px; /* Отступ снизу */
  font-size: 2.5rem; /* Увеличенный размер шрифта */
  line-height: 1.2; /* Высота строки */
  text-align: center; /* Выравнивание по центру */
}

/* Стили для элементов формы */
.form-group {
  margin-bottom: 15px; /* Отступ снизу */
}

/* Стили для кнопок */
.btn-block {
  width: 100%; /* Кнопка на всю ширину */
}

/* Стили для текста */
.text-warning {
  color: #ffc107 !important; /* Желтый цвет текста */
}

/* Стили для карточек */
.card {
  margin-bottom: 20px; /* Отступ снизу */
  padding: 20px; /* Внутренние отступы */
  width: 100%; /* Ширина карточки */
}

/* Стили для заголовков карточек */
.card-title {
  margin-bottom: 20px; /* Отступ снизу */
  font-size: 1.5rem; /* Размер шрифта */
}

/* Центрирование и растягивание формы */
.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 100px); /* Высота контейнера, вычитаем часть для верхнего и нижнего отступов */
}

.card-container {
  width: 100%; /* Ширина контейнера */
  max-width: 600px; /* Максимальная ширина */
}
