@model TMD_WalletMaster.Web.Models.NavigationViewModel

@{
    ViewData["Title"] = "Navigation";
}

<h1>Navigation</h1>

<div class="navigation-container">
    <div class="manage-panel">
        <a href="@Url.Action("Index", "Budgets")" class="btn btn-primary">Manage your Budget</a>
        <a href="@Url.Action("Index", "Goals")" class="btn btn-primary">Manage your Goal</a>
        <a href="@Url.Action("Index", "Transactions")" class="btn btn-primary">Manage your Transaction</a>
    </div>
</div>