@model TMDWalletMaster.Web.ViewModels.UserProfileViewModel

<h1>Budgets</h1>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Start Date</th>
        <th>End Date</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var budget in Model.Budgets)
    {
        <tr>
            <td>@budget.Name</td>
            <td>@budget.Amount</td>
            <td>@budget.StartDate.ToShortDateString()</td>
            <td>@budget.EndDate.ToShortDateString()</td>
        </tr>
    }
    </tbody>
</table>