@model TMD_WalletMaster.Core.Models.Budget

@{
    ViewData["Title"] = "Create Budget";
}

<!-- Заголовок страницы "Create" -->
<h1 class="page-title text-warning">Create</h1>

<!-- Подзаголовок "Budget" -->
<h2 class="budget-title text-primary">Budget</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Name" class="form-label text-success"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Amount" class="form-label text-success"></label>
        <input asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="StartDate" class="form-label text-success"></label>
        <input asp-for="StartDate" class="form-control" />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="EndDate" class="form-label text-success"></label>
        <input asp-for="EndDate" class="form-control" />
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>
    <!-- Контейнер для кнопки -->
    <div class="form-group button-container">
        <button type="submit" class="btn btn-primary btn-lg">Create</button>
    </div>
</form>